.fontface(@name){

	@root: "../fonts/";
	@eot : ".eot";
	@woff2 : ".woff2";
	@woff : ".woff";
	@truetype : ".ttf";
	@postfix : "?#iefix";
	font-family: @name;
	src: url('@{root}@{name}@{eot}');
    src: url('@{root}@{name}@{eot}@{postfix}') format('embedded-opentype'),
         url('@{root}@{name}@{woff2}') format('woff2'),
         url('@{root}@{name}@{woff}') format('woff'),
         url('@{root}@{name}@{truetype}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.gradient (@origin: top, @start: rgba(103,120,140,0.90), @stop: rgba(103,120,140,0)) {
	background-color: transparent;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}
.bluegradient(@origin){
	.gradient(@origin);
}
@font-face{	.fontface('miso-regular'); }
@font-face{	.fontface('proxima_nova_light'); }
@font-face{	.fontface('proxima_nova_regular'); }
@font-face{	.fontface('proxima_nova_semibold'); }
@font-face{	.fontface('proxima_nova_bold'); }

@imgRoot: "../img/";
@tc: #fff;
@orange: #ff8300;
@myFontSize: 23px;
@myBorder: 1px solid #fff;
@sectionH: 100vh;
@contentW: 944px;
@blue: rgb(111, 152, 190);
.textshadow(@set:"0 1px 2px"){
	text-shadow: @set rgba(103, 120, 140, 0.75);
}
a{ text-decoration: none; color: inherit;}
h1{
	font-family: 'proxima_nova_semibold';
	font-size: 60px;
	color: @tc;
	width: 450px;
	.textshadow(0 1px 2px);
}
body{
	margin: 0;
	font:  16px 'proxima_nova_regular', sans-serif;
}
.section{
	display: table;
	width: 100%;
	height: @sectionH;
	min-height: 600px;
}
section{ .section }
section > div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
section > div > div{
	// width: 100vw;
}
section > div > div > div{
	text-align: left;
	margin: 0 auto;
	width: @contentW;
	position: relative;
}
section:nth-child(3){
	background-color: #4d4d4d;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	color: @tc;
}
h2{
	font: 26px "proxima_nova_semibold";
	color: @orange;
}
.howdoes-container p{
	font: 20px "proxima_nova_regular";
	color: #828282;
	margin-top: 9px;
}
.narrow{
	height: 410px;
	min-height: 410px;
}
header > div{
	vertical-align: top;
	margin: 18px 42px 0;
}
header{
	position: absolute;
	width: 100%;
	z-index: 2;
}
header:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 165px;
	.bluegradient(top);
}
a.logo span{
	vertical-align: top;
	line-height: 43px;
	margin-left: 8px;
	letter-spacing: 5.5px;
	.textshadow(0 1px 2px);
	font-size: 36px;
}
a.logo, .above-image{
	font-family: 'miso-regular';
	color: #dadcb3;
}
.inblockpadre{
	word-spacing: -4px;
	letter-spacing: 0;	
}
.inblockchild{
	word-spacing: normal;
	letter-spacing: 0;
	display: inline-block;
	vertical-align: top;
}
.border-radius (@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.device-btns{.inblockpadre; margin-top: 76px; }
.device-btns > a{
	.inblockchild;
	border: @myBorder;
	color: @tc;
	border-radius: 3px;
	font: 30px "proxima_nova_light";
	padding: 16px 0 15px;
	width: 177px;
	text-align: center;
	margin-right: 19px;
	box-sizing: border-box;
}
nav{ float: right; background: transparent;
	line-height: 44px;
}
nav > a{
	.inblockchild;	
	font: 18px 'proxima_nova_regular';
	color: @tc;
	.textshadow(0 1px 2px);
	width: 79px;
	text-align: center;
	margin-left: 10px;
	line-height: 27px;
	vertical-align: middle;	
}
nav > a:hover,
nav > a.active{
	border: @myBorder;
	width: 77px;
}
.heroes{
	.inblockpadre;
}
.heroes li{
	background: url("../images/hero.jpg") center no-repeat;
	background-size: 100%;
	height: 100%;
}
.narrow div.howdoes-container{
	.inblockpadre;
}
.narrow div.howdoes-container, .howdoes-container > span{

}
.howdoes-container > span{
	.inblockchild
}
@spanwidth: 624px;
span.animation{	
	width: 280px;
	position: relative;
	// border: 1px solid black;
}
span.desc{
	width: @spanwidth;
}
.animation div img{
	margin: 0 auto;
	display: block;
}
.animation span{
	position: absolute;
	z-index: 2;
	font: 120px "miso-regular";
	color: @tc;
	left: 42%;
	top: 14%;
}
.phone-present{
	background: #f9f7f4;
	border-top: 1px solid #eae7e4;
}
section.slided > div{
	background: url("../images/hero.jpg") center no-repeat;
	background-size: cover;
}
// PHONE CSS
@side: 69px; // trigger side length
.swticher{
	width: 220px;
	height: 20px;
	display: block;
	margin: (@side/1.5) auto;
	box-shadow: 0 1px 1px rgba(189, 186, 182, 0.4) inset, 0 1px 1px #fff;
	background-color: #e5e3e1;
	border-radius: 12px;
	position: relative;
}
.round(@side) when (@side > 0px) {
	height: @side;
	width: @side;
	border-radius: ( @side / 2 ) + 1px;
}
.swticher .trigger{
	.round(@side);
	position: absolute;
	left: 0;
	top: -@side/3;
	background: @orange url("../images/arrow.png") no-repeat center;
	box-shadow: 0 12px 20px rgba(255,255,255,0.65) inset,
				0 -14px 18px rgba(0,0,0,0.15) inset,
				0 1px 1px rgba(103, 120, 140, 0.45);
}
.present-container{
	.inblockpadre;
	text-align: center;
}
.present-container > span{
	.inblockchild;
	width: 33%;
}
.present-container > span.icons{
	margin-top: 45px; 
}
.present-container > span.icons > div{
	width: 256px;
	margin: 70px auto;
	color: @blue;
}
.present-container > span.icons div.pseudo{
	margin: 0 auto;
	width: 79px;
	border-top: 1px solid #dbdbdb;
	margin: 25px auto;
}
.mapwork {
	height: 500px;
	
}
.mapwork{
	background: url("../images/bkg.jpg") top center no-repeat;
	min-height: 500px;
}

.mapwork > div{	
	.gradient(bottom, rgba(103,120,140,1) ,rgba(103,120,140,0.8));
	text-align: left;
	// position: relative;
}
.map-desc{
	width: 500px;
}
.mapwork h2{
	font: 30px "proxima_nova_semibold";
	color: @tc;
	text-transform: uppercase;
	position: relative;
}
.box(@squareside){
	height: @squareside;
	width: @squareside;
}
@compass_side: 53px;
.mapwork h2:before{
	content: " ";
	display: inline-block;
	position: absolute;
	top: -(@compass_side/5);
	left: 0;
	background: url("../images/compass.png") center no-repeat;
	.box(@compass_side); 
	margin-left: -(@compass_side)-10px;
}
.mapwork p,
.mapwork h2{
	margin-left: (@compass_side)+10px;
}
.mapwork p{
	color: @tc;
	font-size: 18px;
}
.mapmoves{
	position: relative;
	display: block;
}
.mapmoves img{
	width: 90%;
	right: -100px;
	top: 20px;
	position: absolute;
}
.info-blocks ul{.inblockpadre}
.info-blocks ul li {
	.inblockchild;
	width: 33%;
	background-color: @blocks-color;
	height: 315px;
	position: relative;
}
.info-blocks ul li p{opacity: 0;}
.info-blocks ul li:hover{
	transition: all 0.5s;
}
// loop
@iterations: 3;
@blocks-color: #cdd4da;
@block-color-hover: #63a2dd;

.mixin-loop (@i) when (@i > 0) {
  .info-blocks ul li:nth-child(@{i}) {  	
  	@threshold: unit( ((@i*5)-5), % );
    background-color: darken(@blocks-color, @threshold);
  }
  .info-blocks ul li:hover:nth-child(@{i}) {  	
  	@threshold: unit( ((@i*5)-5), % );
    background-color: darken(@block-color-hover, @threshold);
  }
  .mixin-loop(@i - 1);
}
.mixin-loop(@iterations);

.info-blocks ul li:hover p{
	opacity: 1;
}
.info-blocks ul li img{
	position: absolute;
	bottom: 20px;
	right: 45px;
}
.info-blocks h4,
.info-blocks p{
	margin: 0 24px;
	color: @tc;
}
.info-blocks h4{
	margin-bottom: 16px;
	margin-top: 60px;
	text-transform: uppercase;
	font: 18px "proxima_nova_semibold";
}
footer{
	background-color: #262f39;
	min-height: 648px;
	position: relative;
	.section;
}
footer > div{
	display: table-cell;
	vertical-align: middle;
}
footer div > span img{
	position: absolute;
	width: 54%;
	top: 0px;
	padding-top: 2%;
	right: 20px;
}
footer > div > div{	position: relative;}
footer > div > div > div{ margin: 0 auto; width: 944px; }
footer h2{
	font: 40px "proxima_nova_light";
	color: #eff1f5;
	width: 450px;
	margin-bottom: 10px;
}
footer ul{
	.inblockpadre;
	border-top: 1px solid #4e5b68;
	display: inline-block;
	padding-top: 16px;
}
footer ul li{ .inblockchild; margin-right: 25px;}
footer ul li:last-child{
	margin-right: 0;	
}
footer strong, footer ul li{
	font: 18px "proxima_nova_regular";
	color: #53697d;
}
.act{ background-color: @orange; border-top: 1px solid #ffb15f; }
.button{
	.act;
	background-color: @orange;
	border-radius: 5px;
	color: @tc;
	padding: 25px 70px;
	cursor: pointer;
	text-transform: uppercase;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.device-btns a.active,
.device-btns a:hover{
	.act;
	border: none;
}
footer .device-btns{
	margin-bottom: 90px;
	margin-top: 55px;
}
footer .device-btns a{
	display: none;
}
footer .button{
	display: inline-block;
	word-spacing: normal;
}