@font-face {
  font-family: 'miso-regular';
  src: url('../fonts/miso-regular.eot');
  src: url('../fonts/miso-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-regular.woff2') format('woff2'), url('../fonts/miso-regular.woff') format('woff'), url('../fonts/miso-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light';
  src: url('../fonts/proxima_nova_light.eot');
  src: url('../fonts/proxima_nova_light.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_light.woff2') format('woff2'), url('../fonts/proxima_nova_light.woff') format('woff'), url('../fonts/proxima_nova_light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proxima_nova_regular.eot');
  src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_regular.woff2') format('woff2'), url('../fonts/proxima_nova_regular.woff') format('woff'), url('../fonts/proxima_nova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proxima_nova_semibold.eot');
  src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_semibold.woff2') format('woff2'), url('../fonts/proxima_nova_semibold.woff') format('woff'), url('../fonts/proxima_nova_semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proxima_nova_bold.eot');
  src: url('../fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_bold.woff2') format('woff2'), url('../fonts/proxima_nova_bold.woff') format('woff'), url('../fonts/proxima_nova_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-family: 'proxima_nova_semibold';
  font-size: 60px;
  color: #ffffff;
  width: 450px;
  text-shadow: 0 1px 2px rgba(103, 120, 140, 0.75);
}
body {
  margin: 0;
  font: 16px 'proxima_nova_regular', sans-serif;
}
.section {
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
section {
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
section > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
section > div > div > div {
  text-align: left;
  margin: 0 auto;
  width: 944px;
  position: relative;
}
section:nth-child(3) {
  background-color: #4d4d4d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #ffffff;
}
h2 {
  font: 26px "proxima_nova_semibold";
  color: #ff8300;
}
.howdoes-container p {
  font: 20px "proxima_nova_regular";
  color: #828282;
  margin-top: 9px;
}
.narrow {
  height: 410px;
  min-height: 410px;
}
header > div {
  vertical-align: top;
  margin: 18px 42px 0;
}
header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
header:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 165px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(103, 120, 140, 0.9), rgba(103, 120, 140, 0));
  background-image: -moz-linear-gradient(top, rgba(103, 120, 140, 0.9), rgba(103, 120, 140, 0));
  background-image: -o-linear-gradient(top, rgba(103, 120, 140, 0.9), rgba(103, 120, 140, 0));
  background-image: -ms-linear-gradient(top, rgba(103, 120, 140, 0.9), rgba(103, 120, 140, 0));
  background-image: linear-gradient(top, rgba(103, 120, 140, 0.9), rgba(103, 120, 140, 0));
}
a.logo span {
  vertical-align: top;
  line-height: 43px;
  margin-left: 8px;
  letter-spacing: 5.5px;
  text-shadow: 0 1px 2px rgba(103, 120, 140, 0.75);
  font-size: 36px;
}
a.logo,
.above-image {
  font-family: 'miso-regular';
  color: #dadcb3;
}
.inblockpadre {
  word-spacing: -4px;
  letter-spacing: 0;
}
.inblockchild {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
}
.device-btns {
  word-spacing: -4px;
  letter-spacing: 0;
  margin-top: 76px;
}
.device-btns > a {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 3px;
  font: 30px "proxima_nova_light";
  padding: 16px 0 15px;
  width: 177px;
  text-align: center;
  margin-right: 19px;
  box-sizing: border-box;
}
nav {
  float: right;
  background: transparent;
  line-height: 44px;
}
nav > a {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  font: 18px 'proxima_nova_regular';
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(103, 120, 140, 0.75);
  width: 79px;
  text-align: center;
  margin-left: 10px;
  line-height: 27px;
  vertical-align: middle;
}
nav > a:hover,
nav > a.active {
  border: 1px solid #ffffff;
  width: 77px;
}
.heroes {
  word-spacing: -4px;
  letter-spacing: 0;
}
.heroes li {
  background: url("../images/hero.jpg") center no-repeat;
  background-size: 100%;
  height: 100%;
}
.narrow div.howdoes-container {
  word-spacing: -4px;
  letter-spacing: 0;
}
.howdoes-container > span {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
}
span.animation {
  width: 280px;
  position: relative;
}
span.desc {
  width: 624px;
}
.animation div img {
  margin: 0 auto;
  display: block;
}
.animation span {
  position: absolute;
  z-index: 2;
  font: 120px "miso-regular";
  color: #ffffff;
  left: 42%;
  top: 14%;
}
.phone-present {
  background: #f9f7f4;
  border-top: 1px solid #eae7e4;
}
section.slided > div {
  background: url("../images/hero.jpg") center no-repeat;
  background-size: cover;
}
.swticher {
  width: 220px;
  height: 20px;
  display: block;
  margin: 46px auto;
  box-shadow: 0 1px 1px rgba(189, 186, 182, 0.4) inset, 0 1px 1px #ffffff;
  background-color: #e5e3e1;
  border-radius: 12px;
  position: relative;
}
.swticher .trigger {
  height: 69px;
  width: 69px;
  border-radius: 35.5px;
  position: absolute;
  left: 0;
  top: -23px;
  background: #ff8300 url("../images/arrow.png") no-repeat center;
  box-shadow: 0 12px 20px rgba(255, 255, 255, 0.65) inset, 0 -14px 18px rgba(0, 0, 0, 0.15) inset, 0 1px 1px rgba(103, 120, 140, 0.45);
}
.present-container {
  word-spacing: -4px;
  letter-spacing: 0;
  text-align: center;
}
.present-container > span {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
.present-container > span.icons {
  margin-top: 45px;
}
.present-container > span.icons > div {
  width: 256px;
  margin: 70px auto;
  color: #6f98be;
}
.present-container > span.icons div.pseudo {
  margin: 0 auto;
  width: 79px;
  border-top: 1px solid #dbdbdb;
  margin: 25px auto;
}
.mapwork {
  height: 500px;
}
.mapwork {
  background: url("../images/bkg.jpg") top center no-repeat;
  min-height: 500px;
}
.mapwork > div {
  background-color: transparent;
  background-image: -webkit-linear-gradient(bottom, #67788c, rgba(103, 120, 140, 0.8));
  background-image: -moz-linear-gradient(bottom, #67788c, rgba(103, 120, 140, 0.8));
  background-image: -o-linear-gradient(bottom, #67788c, rgba(103, 120, 140, 0.8));
  background-image: -ms-linear-gradient(bottom, #67788c, rgba(103, 120, 140, 0.8));
  background-image: linear-gradient(bottom, #67788c, rgba(103, 120, 140, 0.8));
  text-align: left;
}
.map-desc {
  width: 500px;
}
.mapwork h2 {
  font: 30px "proxima_nova_semibold";
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
.mapwork h2:before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: -10.6px;
  left: 0;
  background: url("../images/compass.png") center no-repeat;
  height: 53px;
  width: 53px;
  margin-left: -63px;
}
.mapwork p,
.mapwork h2 {
  margin-left: 63px;
}
.mapwork p {
  color: #ffffff;
  font-size: 18px;
}
.mapmoves {
  position: relative;
  display: block;
}
.mapmoves img {
  width: 90%;
  right: -100px;
  top: 20px;
  position: absolute;
}
.info-blocks ul {
  word-spacing: -4px;
  letter-spacing: 0;
}
.info-blocks ul li {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  background-color: #cdd4da;
  height: 315px;
  position: relative;
}
.info-blocks ul li p {
  opacity: 0;
}
.info-blocks ul li:hover {
  transition: all 0.5s;
}
.info-blocks ul li:nth-child(3) {
  background-color: #b0bbc4;
}
.info-blocks ul li:hover:nth-child(3) {
  background-color: #3989d4;
}
.info-blocks ul li:nth-child(2) {
  background-color: #bec7cf;
}
.info-blocks ul li:hover:nth-child(2) {
  background-color: #4e96d8;
}
.info-blocks ul li:nth-child(1) {
  background-color: #cdd4da;
}
.info-blocks ul li:hover:nth-child(1) {
  background-color: #63a2dd;
}
.info-blocks ul li:hover p {
  opacity: 1;
}
.info-blocks ul li img {
  position: absolute;
  bottom: 20px;
  right: 45px;
}
.info-blocks h4,
.info-blocks p {
  margin: 0 24px;
  color: #ffffff;
}
.info-blocks h4 {
  margin-bottom: 16px;
  margin-top: 60px;
  text-transform: uppercase;
  font: 18px "proxima_nova_semibold";
}
footer {
  background-color: #262f39;
  min-height: 648px;
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  min-height: 600px;
}
footer > div {
  display: table-cell;
  vertical-align: middle;
}
footer div > span img {
  position: absolute;
  width: 54%;
  top: 0px;
  padding-top: 2%;
  right: 20px;
}
footer > div > div {
  position: relative;
}
footer > div > div > div {
  margin: 0 auto;
  width: 944px;
}
footer h2 {
  font: 40px "proxima_nova_light";
  color: #eff1f5;
  width: 450px;
  margin-bottom: 10px;
}
footer ul {
  word-spacing: -4px;
  letter-spacing: 0;
  border-top: 1px solid #4e5b68;
  display: inline-block;
  padding-top: 16px;
}
footer ul li {
  word-spacing: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
footer ul li:last-child {
  margin-right: 0;
}
footer strong,
footer ul li {
  font: 18px "proxima_nova_regular";
  color: #53697d;
}
.act {
  background-color: #ff8300;
  border-top: 1px solid #ffb15f;
}
.button {
  border-top: 1px solid #ffb15f;
  background-color: #ff8300;
  border-radius: 5px;
  color: #ffffff;
  padding: 25px 70px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.device-btns a.active,
.device-btns a:hover {
  background-color: #ff8300;
  border-top: 1px solid #ffb15f;
  border: none;
}
footer .device-btns {
  margin-bottom: 90px;
  margin-top: 55px;
}
footer .device-btns a {
  display: none;
}
footer .button {
  display: inline-block;
  word-spacing: normal;
}
