@font-face{
	font-family: "OS-Regular";
	src: url("../fonts/OpenSans-CondBold.ttf"),
		url("../fonts/OpenSans-CondBold.eot"),
		url("../fonts/OpenSans-CondBold.woff");
}
body{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}